doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/style.css')
    link(rel='shortcut icon', type='image/png' href='img/favicon.png')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    title Nodetours | Exciting tours for adventurous people
  body
    header.header
      nav.nav.nav--tours
        a.nav__el(href='#') All tours
        form.nav__search
          button.nav__search-btn
            svg
              use(xlink:href='img/icons.svg#icon-search')
          input.nav__search-input(type='text', placeholder='Search tours')
      div.header__logo
        img(src='img/logo-white.png', alt='Nodetours Logo')
      nav.nav.nav--user
        a.nav__el(href='#') My bookings
        a.nav__el(href='#')
          img.nav__user-img(src='img/users/default.jpg', alt='User photo')
          span Sai
        button.nav__el Log in
        button.nav__el.nav__el--cta Sign up
