doctype html
html
  head
    link(rel='stylesheet', href='css/style.css')
    link(rel='shortcut icon', type='image/png' href='img/favicon.png')
    title Nodetours

  body
    h1= tour
    //- h1 Ahoy Sailor o/ ⛵
    p Lorem ipsum dolor sit amet consectetur adipisicing elit.